<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Ygor Carlos Ferreira Rolim">
    <meta name="description" content="Projeto Garin Bebidas">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Garin Bebidas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap-theme.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="../js/main.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body class="index-background">
    <div class="col-md-12" style="margin-bottom: 5%">
        <div class="row">
            <img src="../img/logoGarin.png" alt="logo" class="index-img center-block">
        </div>
        <div class="row index-letters">
            <div class="col-md-12">
                <h2 class="h2-index-letters">Bem vindo(a) à Garin Bebidas,<br> você tem mais de 18 anos?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><a class="a-index" href="landing-page.html"><button class="index-button-letters">Sim</button></a>
                                               <button class="index-button-letters">Não</button></div>
        </div>
    </div>
</body>
</html>