<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Ygor Carlos Ferreira Rolim">
    <meta name="description" content="Projeto Garin Bebidas">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Garin Bebidas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/landing.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap-theme.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="../js/main.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <div>

        <header>

            <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" style="z-index: 1">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
           

            <div class="carousel-inner">
                <div class="item active">
                    <img src="../img/background1Carrousel.jpg" class="img-responsive" alt="Imagem1" style="width: 100%; height: 20%">
                </div>

                <div class="item">
                    <img src="../img/background2Carrousel.png" class="img-responsive" alt="Imagem1" style="width: 100%;">
                </div>

                <div class="item">
                    <img src="../img/background3Carrousel.jpg" class="img-responsive" alt="Imagem1" style="width: 100%;">
                </div>
            </div>
            <div class="navtext">
                    <nav class="navbar-style">
                        <div class="row">
                            <img src="../img/logoGarin.png" style="width: 12%; margin-left: 2%;" alt="">
                            <p class="navbar-content-first">Home</p>
                            <p class="navbar-content-first" style="margin-left: 35%;">A Empresa</p>
                            <p class="navbar-content-first" style="margin-left: 50%;">Parceiros</p>
                            <p class="navbar-content-first" style="margin-left: 65%;">Contato</p>
                            <p class="navbar-content-first" style="margin-left: 80%;">Trabalhe Conosco</p>
                        </div>

                    </nav>
            </div>
            <div class="covertext">
                    <h1 class="h2-landing-letters">DISTRIBUIDORA GARIN<br>BEBIDAS</h1>
                    <button class="landing-button-letters">Faça seu pedido</button>
            </div>
            </div>
        </header>
        <section class="section2-style">
            <div class="row ">
                <div class="col-md-12 section2-title"><h1>A Empresa</h1></div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 section2-content1">Atua no mercado de distribuição de bebidas e produtos correlacionados há 10 anos. Além de trabalhar com uma grande variedade de marcas, a Garin – Distribuidora de Bebidas conta também com serviços exclusivos e profissionais qualificados para orientar e solucionar suas demandas, garantindo boas alternativas para o seu evento ou negócio.</div>
            </div>
            <div class="section2-style-second" style="background-color:#e5c47e">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-12"><h2>Valores</h2></div>
                        <div class="col-md-12">Confidencialidade, transparência, ética, excelência, inovação, comprometimento, valorização das pessoas e da sua qualidade de vida, respeito ao cliente, responsabilidade social e ambiental.</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12"><h2>Visão</h2></div>
                        <div class="col-md-12">Um futuro promissor onde tudo evolui rapidamente, ancorado em pessoas competentes e capazes, para ampliar, crescer e construir novas unidades de negócios, para satisfazer cada vez mais clientes e colaboradores.</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12"><h2>Missão</h2></div>
                        <div class="col-md-12">Proporcionar a seus colaboradores o melhor ambiente de trabalho, crescimento profissional e pessoal, através da gestão participativa, buscando assim o crescimento de cada um, e com isso o crescimento do negócio.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section3-style">
            <div class="row">
                <div class="col-md-12 text-center"><h1>Parceiros</h1></div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">Trabalhamos juntos com os nossos parceiros de forma a garantir melhor qualidade nos serviços prestados ao principal protagonista, você cliente!</div>
            </div>
            <div class="row" style="padding: 4%;">
                <div class="col-md-3 text-center"><img src="../img/Logo_Carbon.png" style="width:50%" alt=""></div>
                <div class="col-md-3 text-center"><img src="../img/Logo_Aoutra.png" style="width:50%" alt=""></div>
                <div class="col-md-3 text-center"><img src="../img/Logo_Ecobier.png" style="width:50%"alt=""></div>
                <div class="col-md-3 text-center"><img src="../img/Logo_Haller.png" style="width:50%" alt=""></div>
            </div>
        </section>
    </div>
</body>

</html>